* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #253237;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  text-align: center;
  font-family: cubano, sans-serif;
  font-weight: 400;
  color: white;
  font-size: 9vw;
  text-shadow: -0.04em 0.04em 0 #000,
    0.04em 0.04em 0 #000,
    0.04em -0.04em 0 #000,
    -0.04em -0.04em 0 #000;
  margin-top: 5rem;
}

h1 {
  color: white;
  font-size: 5rem;
}

.valentine-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  gap: 2rem;
  padding-bottom: 5rem;
}

.animation {
  animation: animate 1s forwards ease-in-out;
}

@keyframes animate {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.btns {
  display: flex;
  gap: 2rem;
}

button {
  border: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  position: relative;
  cursor: pointer;
}

button::before {
  content: "";
  position: absolute;
  background-color: #F0BC39;
  width: 5.3rem;
  height: 3rem;
  bottom: 0;
  left: 0;
  z-index: -999;
  transition: 0.5s;
}

button:hover::before {
  bottom: -0.6rem;
  left: 0.4rem;
}

@media (max-width: 750px) {
  html {
    font-size: 55.5%;
  }

  button::before {
    width: 6.4rem;
  }
}